@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Balonku";
  src: url("../public/fonts/Balonku-Regular.otf");
}

@font-face {
  font-family: "Pacifico";
  src: url("../public/fonts/Pacifico-Regular.ttf");
}

@font-face {
  font-family: "Bubblegum";
  src: url("../public/fonts/BubblegumSans-Regular.ttf");
}
